<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>RI601-projekat-najdabeganovic-aminacickusic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartPage</display-name>
    <servlet-name>StartPage</servlet-name>
    <servlet-class>controllers.StartPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPage</servlet-name>
    <url-pattern>/startPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>controllers.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMain</display-name>
    <servlet-name>AdminMain</servlet-name>
    <servlet-class>controllers.AdminMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMain</servlet-name>
    <url-pattern>/admin/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseAvatar</display-name>
    <servlet-name>ChooseAvatar</servlet-name>
    <servlet-class>controllers.ChooseAvatar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseAvatar</servlet-name>
    <url-pattern>/chooseAvatar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProfile</display-name>
    <servlet-name>AdminEditProfile</servlet-name>
    <servlet-class>controllers.AdminEditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProfile</servlet-name>
    <url-pattern>/admin/editprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAvatar</display-name>
    <servlet-name>ChangeAvatar</servlet-name>
    <servlet-class>controllers.ChangeAvatar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAvatar</servlet-name>
    <url-pattern>/changeavatar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagement</display-name>
    <servlet-name>UserManagement</servlet-name>
    <servlet-class>controllers.UserManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/admin/usermanagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controllers.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/admin/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>controllers.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/admin/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAvatar</display-name>
    <servlet-name>UpdateAvatar</servlet-name>
    <servlet-class>controllers.UpdateAvatar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAvatar</servlet-name>
    <url-pattern>/admin/updateavatar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizManagement</display-name>
    <servlet-name>QuizManagement</servlet-name>
    <servlet-class>controllers.quiz.QuizManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizManagement</servlet-name>
    <url-pattern>/admin/quizmanagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewQuiz</display-name>
    <servlet-name>AddNewQuiz</servlet-name>
    <servlet-class>controllers.quiz.AddNewQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewQuiz</servlet-name>
    <url-pattern>/admin/addnewquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>controllers.quiz.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/admin/addquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditorAddNewQuiz</display-name>
    <servlet-name>EditorAddNewQuiz</servlet-name>
    <servlet-class>controllers.quiz.EditorAddNewQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorAddNewQuiz</servlet-name>
    <url-pattern>/editor/addnewquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuiz</display-name>
    <servlet-name>DeleteQuiz</servlet-name>
    <servlet-class>controllers.quiz.DeleteQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuiz</servlet-name>
    <url-pattern>/admin/deletequiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuiz</display-name>
    <servlet-name>EditQuiz</servlet-name>
    <servlet-class>controllers.quiz.EditQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuiz</servlet-name>
    <url-pattern>/admin/editquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveQuizChanges</display-name>
    <servlet-name>SaveQuizChanges</servlet-name>
    <servlet-class>controllers.quiz.SaveQuizChanges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveQuizChanges</servlet-name>
    <url-pattern>/admin/savequizchanges</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuestion</display-name>
    <servlet-name>EditQuestion</servlet-name>
    <servlet-class>controllers.quiz.EditQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuestion</servlet-name>
    <url-pattern>/admin/editquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionToQuiz</display-name>
    <servlet-name>AddQuestionToQuiz</servlet-name>
    <servlet-class>controllers.quiz.AddQuestionToQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionToQuiz</servlet-name>
    <url-pattern>/admin/addquestiontoquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeQuestionOrder</display-name>
    <servlet-name>ChangeQuestionOrder</servlet-name>
    <servlet-class>controllers.quiz.ChangeQuestionOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeQuestionOrder</servlet-name>
    <url-pattern>/admin/changequestionorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartQuiz</display-name>
    <servlet-name>StartQuiz</servlet-name>
    <servlet-class>controllers.quiz.StartQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartQuiz</servlet-name>
    <url-pattern>/admin/startquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerStartQuiz</display-name>
    <servlet-name>PlayerStartQuiz</servlet-name>
    <servlet-class>controllers.quiz.PlayerStartQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerStartQuiz</servlet-name>
    <url-pattern>/playerstartquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HowToPlay</display-name>
    <servlet-name>HowToPlay</servlet-name>
    <servlet-class>controllers.quiz.HowToPlay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HowToPlay</servlet-name>
    <url-pattern>/howtoplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inbox</display-name>
    <servlet-name>Inbox</servlet-name>
    <servlet-class>controllers.Inbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/admin/inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQuiz</display-name>
    <servlet-name>AdminQuiz</servlet-name>
    <servlet-class>controllers.quiz.AdminQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQuiz</servlet-name>
    <url-pattern>/admin/quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerQuiz</display-name>
    <servlet-name>PlayerQuiz</servlet-name>
    <servlet-class>controllers.quiz.PlayerQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerQuiz</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>filter.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>